<div class="d-flex" id="wrapper">

    <!-- Sidebar -->
    <div class="border-right" id="sidebar-wrapper">
      <div class="sidebar-hearder sidebar-hearder-css" data-animate-effect="fadeInLeft" style="background-color: #F4FBFF">
        <a href="#" class="mb-2 d-block">Blog</a>
      </div>
      <div class="list-group list-group-flush">
        <a [routerLink]="['/home']" class="list-group-item list-group-item-action bg-light">home</a>
        <a [routerLink]="['/login']" class="list-group-item list-group-item-action bg-light">login</a>
        <button (click)="logout()" class="list-group-item list-group-item-action bg-light">logout</button>
        <a [routerLink]="['/register']" class="list-group-item list-group-item-action bg-light">register</a>
        <a [routerLink]="['/contato']" class="list-group-item list-group-item-action bg-light">contato</a>
        <a [routerLink]="['/about']" class="list-group-item list-group-item-action bg-light">about</a>
        <a [routerLink]="['/favoritos']" class="list-group-item list-group-item-action bg-light">favoritos</a>
      </div>
    </div>
    <!-- /#sidebar-wrapper -->

    <!-- Page Content -->
    <div id="page-content-wrapper">

      <nav class="navbar navbar-expand-lg navbar-light border-bottom nav-css">
        <button class="btn btn-primary" id="menu-toggle">menu</button>
        <div>
          <p style="font-size: 24px;margin-left: 15px;" *ngIf="session">
            {{session[0].email}}
          </p>
        </div>
      </nav>

      <div class="container-fluid">
        <div class="row d-flex">
          <div class="col-lg col-md col-sm px-md-5 py-5">
              <div class="row pt-md-4">
                  <h1 class="mb-3">{{ post[0].titulo }}</h1>
                  <p style="color: #666666">{{ post[0].descricao }}</p>
                  <p>
                    <img src="../../assets/images/image_1.jpg" alt="" class="img-fluid">
                  </p>
                  <p style="color: #666666">{{ post[0].descricao }}</p>
                  <p style="color: #666666">{{ post[0].descricao }}</p>
                  <p style="color: #666666">{{ post[0].descricao }}</p>
                  <div class="tag-widget post-tag-container mb-5 mt-5">
                    <div class="tagcloud">
                      <a href="#" class="tag-cloud-link">Life</a>
                      <a href="#" class="tag-cloud-link">Sport</a>
                      <a href="#" class="tag-cloud-link">Tech</a>
                      <a href="#" class="tag-cloud-link">Travel</a>
                    </div>
                  </div>
          
                  <div class="about-author d-flex p-4 bg-light">
                    <div class="bio mr-5">
                      <img src="../../assets/images/person_1.jpg" alt="Image placeholder" class="img-fluid mb-4">
                    </div>
                    <div class="desc">
                      <h3>{{ post[0].user.nome }}</h3>
                      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ducimus itaque, autem necessitatibus voluptate quod mollitia delectus aut, sunt placeat nam vero culpa sapiente consectetur similique, inventore eos fugit cupiditate numquam!</p>
                    </div>
                  </div>


                <div class="pt-5 mt-5">
                  <h3 class="mb-5 font-weight-bold">6 Comentarios</h3>
                  <ul class="comment-list">
                    <li class="comment" *ngFor="let com of post[0].comentarios">
                      <div class="vcard bio">
                        <img src="../../assets/images/person_1.jpg" alt="Image placeholder">
                      </div>
                      <div class="comment-body">
                        <h3>John Doe</h3>
                        <div class="meta">October 03, 2018 at 2:21pm</div>
                        <p>{{ com.descricao }}</p>
                        <p><a href="#" class="reply">Reply</a></p>
                      </div>
                    </li>
                  </ul>
                  <!-- END comment-list -->
                  
                  <div class="comment-form-wrap pt-5"> 
                    <h3 class="mb-5">Leave a comment</h3>
                    <form action="#" class="p-3 p-md-5 bg-light" [formGroup]="profileForm" (ngSubmit)="onSubmit()">
                    <!--
                      <div class="form-group">
                        <label for="name" style="color: #666666;">nome *</label>
                        <input type="text" class="form-control" id="name">
                      </div>
                      <div class="form-group">
                        <label for="email" style="color: #666666;">email *</label>
                        <input type="email" class="form-control" id="email">
                      </div>
                      <div class="form-group">
                        <label for="website" style="color: #666666;">imagem</label>
                        <input type="url" class="form-control" id="website">
                      </div>
                    -->
                      <div class="form-group">
                        <label for="message" style="color: #666666;">comentario</label>
                        <textarea formControlName="comentario"  name="comentario" id="message" cols="30" rows="30" class="form-control"></textarea>
                      </div>
                      <div class="form-group">
                        <input type="submit"  [disabled]="!profileForm.valid" value="Post Comment" class="btn py-3 px-4 btn-primary">
                      </div>

                    </form>
                  </div>
                </div>
              </div>
          </div>
        </div>
      </div>
    </div>
    <!-- /#page-content-wrapper -->

  </div>
  <!-- /#wrapper -->