<div class="d-flex" id="wrapper">

    <!-- Sidebar -->
    <div class="border-right" id="sidebar-wrapper">
      <div class="sidebar-hearder sidebar-hearder-css" data-animate-effect="fadeInLeft" style="background-color: #F4FBFF">
        <a href="#" class="mb-2 d-block">Blog</a>
      </div>
      <div class="list-group list-group-flush">
        <a [routerLink]="['/home']" class="list-group-item list-group-item-action bg-light">home</a>
        <a [routerLink]="['/posts']" class="list-group-item list-group-item-action bg-light">posts</a>
        <a [routerLink]="['/login']" class="list-group-item list-group-item-action bg-light">login</a>
        <a [routerLink]="['/register']" class="list-group-item list-group-item-action bg-light">register</a>
        <a [routerLink]="['/contato']" class="list-group-item list-group-item-action bg-light">contato</a>
        <a [routerLink]="['/about']" class="list-group-item list-group-item-action bg-light">about</a>
        <a [routerLink]="['/favoritos']" class="list-group-item list-group-item-action bg-light">favoritos</a>
      </div>
    </div>
    <!-- /#sidebar-wrapper -->

    <!-- Page Content -->
    <div id="page-content-wrapper">

      <nav class="navbar navbar-expand-lg navbar-light border-bottom nav-css">
        <button class="btn btn-primary" id="menu-toggle">menu</button>
        <div>
          <p style="font-size: 24px;">
            {{session[0].email}}
          </p>
        </div>
      </nav>

      <div class="container">
        <div class="row d-flex">
          <div class="col-xl px-md-5 py-5">
              <div class="row pt-md-4">
                  <div class="col-md-12" *ngFor="let post of resumo">
                      <div class="blog-entry-2 ftco-animate fadeInUp ftco-animated">
                          <a href="post.html" class="img"></a>
                          <div class="text pt-4">
                              <h3 class="mb-4"><a href="post.html" style="color: black;">{{ post.titulo }}</a></h3>
                              <p class="mb-4" style="color: #666666;">{{ post.descricao }}</p>
                              <div class="author mb-4 d-flex align-items-center">
                                  <a href="#" class="img"></a>
                                  <div class="ml-3 info">
                                      <span>Written by</span>
                                      <h3><a href="#">nome</a>, <span>June 28, 2019</span></h3>
                                  </div>
                              </div>
                              <div class="meta-wrap d-md-flex align-items-center">
                                  <div class="half order-md-last text-md-right">
                                      <p class="meta">
                                          <span><i class="icon-heart"></i>3</span>
                                          <span><i class="icon-eye"></i>100</span>
                                          <span><i class="icon-comment"></i>5</span>
                                      </p>
                                  </div>
                                  <div class="half">
                                      <p><a href="post.html" class="btn btn-primary p-3 px-xl-4 py-xl-3">Continue Lendo</a></p>
                                  </div>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
              <div class="row">
                  <div class="col-xl-12 col-md-12 col-sm-12">
                  <h1 class="mt-4">Paginação</h1>
              </div>
          </div>
        </div>
      </div>
    </div>
    <!-- /#page-content-wrapper -->

</div>
<!-- /#wrapper -->